<p id="notice"><%= notice %></p>

<p>
  <strong>Who are you?</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>What's up?</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Photo op!</strong>
  <%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
